In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('IMDB Top 250 Movies.csv')
df

,rank,name,year,rating,genre,certificate,run_time,tagline,budget,box_office,casts,directors,writers
0,1,The Shawshank Redemption,1994,9.3,Drama,R,2h 22m,Fear can hold you prisoner. Hope can set you f...,25000000,28884504,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,"Stephen King,Frank Darabont"
1,2,The Godfather,1972,9.2,"Crime,Drama",R,2h 55m,An offer you can't refuse.,6000000,250341816,"Marlon Brando,Al Pacino,James Caan,Diane Keato...",Francis Ford Coppola,"Mario Puzo,Francis Ford Coppola"
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",PG-13,2h 32m,Why So Serious?,185000000,1006234167,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...",Christopher Nolan,"Jonathan Nolan,Christopher Nolan,David S. Goyer"
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",R,3h 22m,All the power on earth can't change destiny.,13000000,47961919,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...",Francis Ford Coppola,"Francis Ford Coppola,Mario Puzo"
4,5,12 Angry Men,1957,9.0,"Crime,Drama",Approved,1h 36m,Life Is In Their Hands -- Death Is On Their Mi...,350000,955,"Henry Fonda,Lee J. Cobb,Martin Balsam,John Fie...",Sidney Lumet,Reginald Rose
...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,PG-13,2h 26m,Change begins with a whisper.,25000000,216639112,"Viola Davis,Emma Stone,Octavia Spencer,Bryce D...",Tate Taylor,"Tate Taylor,Kathryn Stockett"
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",G,2h 22m,There is man and beast at nature's mercy. Ther...,4000000,14480,"Maksim Munzuk,Yuriy Solomin,Mikhail Bychkov,Vl...",Akira Kurosawa,"Akira Kurosawa,Yuriy Nagibin,Vladimir Arsenev"
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",G,1h 30m,Wish granted! (DVD re-release),Not Available,Not Available,"Scott Weinger,Robin Williams,Linda Larkin,Jona...","Ron Clements,John Musker","Ron Clements,John Musker,Ted Elliott"
248,249,Gandhi,1982,8.0,"Biography,Drama,History",PG,3h 11m,His Triumph Changed The World Forever.,22000000,52767889,"Ben Kingsley,John Gielgud,Rohini Hattangadi,Ro...",Richard Attenborough,John Briley
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",PG-13,3h 1m,Inside everyone is a frontier waiting to be di...,22000000,424208848,"Kevin Costner,Mary McDonnell,Graham Greene,Rod...",Kevin Costner,Michael Blake

In [2]:
df.columns

Index(['rank', 'name', 'year', 'rating', 'genre', 'certificate', 'run_time',
       'tagline', 'budget', 'box_office', 'casts', 'directors', 'writers'],
      dtype='object')

In [3]:
df = df[['rank', 'name', 'year', 'rating', 'genre',
#                 'certificate',
                'run_time',
#        'tagline',
                'budget', 'box_office',
#                 'casts', 'directors', 'writers'
               ]]

In [4]:
df

,rank,name,year,rating,genre,run_time,budget,box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,2h 22m,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",2h 55m,6000000,250341816
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",2h 32m,185000000,1006234167
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",3h 22m,13000000,47961919
4,5,12 Angry Men,1957,9.0,"Crime,Drama",1h 36m,350000,955
...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,2h 26m,25000000,216639112
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",2h 22m,4000000,14480
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",1h 30m,Not Available,Not Available
248,249,Gandhi,1982,8.0,"Biography,Drama,History",3h 11m,22000000,52767889
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",3h 1m,22000000,424208848

In [5]:
df = df.rename(columns= {'name' : 'Name', 'rank' : 'Rank', 'year' : 'Year', 'rating' : 'Rating', 'genre' : 'Genre', 'budget' : 'Budget', 'run_time' : 'Run_time', 'box_office' : 'Box_office'})

In [6]:
df

,Rank,Name,Year,Rating,Genre,Run_time,Budget,Box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,2h 22m,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",2h 55m,6000000,250341816
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",2h 32m,185000000,1006234167
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",3h 22m,13000000,47961919
4,5,12 Angry Men,1957,9.0,"Crime,Drama",1h 36m,350000,955
...,...,...,...,...,...,...,...,...
245,246,The Help,2011,8.1,Drama,2h 26m,25000000,216639112
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",2h 22m,4000000,14480
247,248,Aladdin,1992,8.0,"Animation,Adventure,Comedy",1h 30m,Not Available,Not Available
248,249,Gandhi,1982,8.0,"Biography,Drama,History",3h 11m,22000000,52767889
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",3h 1m,22000000,424208848

In [7]:
 df.isna().sum()

Rank          0
Name          0
Year          0
Rating        0
Genre         0
Run_time      0
Budget        0
Box_office    0
dtype: int64

In [8]:
df = df.replace('Not Available', np.nan).dropna()
df

,Rank,Name,Year,Rating,Genre,Run_time,Budget,Box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,2h 22m,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",2h 55m,6000000,250341816
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",2h 32m,185000000,1006234167
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",3h 22m,13000000,47961919
4,5,12 Angry Men,1957,9.0,"Crime,Drama",1h 36m,350000,955
...,...,...,...,...,...,...,...,...
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",1h 26m,70000000,23335817
245,246,The Help,2011,8.1,Drama,2h 26m,25000000,216639112
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",2h 22m,4000000,14480
248,249,Gandhi,1982,8.0,"Biography,Drama,History",3h 11m,22000000,52767889
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",3h 1m,22000000,424208848

In [9]:
df.dtypes

Rank            int64
Name           object
Year            int64
Rating        float64
Genre          object
Run_time       object
Budget         object
Box_office     object
dtype: object

In [10]:
df['Budget'] = df['Budget'].str.replace(r'[^0-9]', '')
df

C:\Users\user\AppData\Local\Temp\ipykernel_12996\3282921392.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Budget'] = df['Budget'].str.replace(r'[^0-9]', '')

,Rank,Name,Year,Rating,Genre,Run_time,Budget,Box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,2h 22m,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",2h 55m,6000000,250341816
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",2h 32m,185000000,1006234167
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",3h 22m,13000000,47961919
4,5,12 Angry Men,1957,9.0,"Crime,Drama",1h 36m,350000,955
...,...,...,...,...,...,...,...,...
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",1h 26m,70000000,23335817
245,246,The Help,2011,8.1,Drama,2h 26m,25000000,216639112
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",2h 22m,4000000,14480
248,249,Gandhi,1982,8.0,"Biography,Drama,History",3h 11m,22000000,52767889
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",3h 1m,22000000,424208848

In [11]:
df['Budget'] = pd.to_numeric(df['Budget'])
df.dtypes

Rank            int64
Name           object
Year            int64
Rating        float64
Genre          object
Run_time       object
Budget          int64
Box_office     object
dtype: object

In [14]:
df['Box_office'] = pd.to_numeric(df['Box_office'])

In [13]:
df['Box_office'] = df['Box_office'].str.replace(r'[^0-9]', '')

C:\Users\user\AppData\Local\Temp\ipykernel_12996\4292453588.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Box_office'] = df['Box_office'].str.replace(r'[^0-9]', '')

In [15]:
df

,Rank,Name,Year,Rating,Genre,Run_time,Budget,Box_office
0,1,The Shawshank Redemption,1994,9.3,Drama,2h 22m,25000000,28884504
1,2,The Godfather,1972,9.2,"Crime,Drama",2h 55m,6000000,250341816
2,3,The Dark Knight,2008,9.0,"Action,Crime,Drama",2h 32m,185000000,1006234167
3,4,The Godfather Part II,1974,9.0,"Crime,Drama",3h 22m,13000000,47961919
4,5,12 Angry Men,1957,9.0,"Crime,Drama",1h 36m,350000,955
...,...,...,...,...,...,...,...,...
244,245,The Iron Giant,1999,8.1,"Animation,Action,Adventure",1h 26m,70000000,23335817
245,246,The Help,2011,8.1,Drama,2h 26m,25000000,216639112
246,247,Dersu Uzala,1975,8.2,"Adventure,Biography,Drama",2h 22m,4000000,14480
248,249,Gandhi,1982,8.0,"Biography,Drama,History",3h 11m,22000000,52767889
249,250,Dances with Wolves,1990,8.0,"Adventure,Drama,Western",3h 1m,22000000,424208848

In [16]:
df = df.sort_values(by=['Box_office'], ascending=False)
df['Profit'] = df['Box_office'] - df['Budget']
df = df.reset_index(drop= True)
df

,Rank,Name,Year,Rating,Genre,Run_time,Budget,Box_office,Profit
0,78,Avengers: Endgame,2019,8.4,"Action,Adventure,Drama",3h 1m,356000000,2799439100,2443439100
1,63,Avengers: Infinity War,2018,8.4,"Action,Adventure,Sci-Fi",2h 29m,321000000,2052415039,1731415039
2,150,Spider-Man: No Way Home,2021,8.2,"Action,Adventure,Fantasy",2h 28m,200000000,1921847111,1721847111
3,106,Top Gun: Maverick,2022,8.3,"Action,Drama",2h 10m,170000000,1488732821,1318732821
4,181,Harry Potter and the Deathly Hallows: Part 2,2011,8.1,"Adventure,Family,Fantasy",2h 10m,125000000,1342359942,1217359942
...,...,...,...,...,...,...,...,...,...
205,242,It Happened One Night,1934,8.1,"Comedy,Romance",1h 45m,325000,11477,-313523
206,64,Witness for the Prosecution,1957,8.4,"Crime,Drama,Mystery",1h 56m,3000000,7693,-2992307
207,60,Paths of Glory,1957,8.4,"Drama,War",1h 28m,935000,5252,-929748
208,5,12 Angry Men,1957,9.0,"Crime,Drama",1h 36m,350000,955,-349045
209,238,Cool Hand Luke,1967,8.1,"Crime,Drama",2h 7m,3200000,67,-3199933

In [19]:
groupby = df.groupby(['Genre']).mean()
groupby.sort_values('Rating', ascending= False)

,Rank,Year,Rating,Budget,Box_office,Profit
Genre,,,,,,
"Adventure,Western",10.0,1966.0,8.8,1200000.0,2.525389e+07,2.405389e+07
"Action,Adventure,Drama",28.8,2005.0,8.7,148000000.0,1.259042e+09,1.111042e+09
"Crime,Drama,Fantasy",27.0,1999.0,8.6,60000000.0,2.868014e+08,2.268014e+08
"Drama,Family,Fantasy",21.0,1946.0,8.6,3180000.0,8.574081e+06,5.394081e+06
"Adventure,Drama,Sci-Fi",25.0,2014.0,8.6,165000000.0,7.738672e+08,6.088672e+08
...,...,...,...,...,...,...
"Adventure,Family,Fantasy",201.5,1975.0,8.1,63888500.0,6.839988e+08,6.201103e+08
"Adventure,Thriller",204.0,1975.0,8.1,7000000.0,4.765121e+08,4.695121e+08
"Animation,Comedy,Drama",200.0,2009.0,8.1,8240000.0,1.740429e+06,-6.499571e+06
"Drama,Fantasy",199.0,1957.0,8.1,150000.0,3.112120e+05,1.612120e+05
Comedy,244.0,1979.0,8.0,4000000.0,2.074573e+07,1.674573e+07

In [ ]:
import seaborn as sns
sns.set_theme()
sns.relplot(
    data=tips,
    x="total_bill", y="tip", col="time",
    hue="smoker", style="smoker", size="size",
)